# This is Git's per-user configuration file.
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
{{- if hasKey .git "signingkey" }}
	signingkey = {{ .git.signingkey }}
{{- end }}
[pull]
	rebase = false
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
{{- if hasKey .git "signingkey" }}
	gpgsign = true
{{- end }}
[alias]
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	graph2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	tagcommit = rev-list -n 1
{{- if eq .profile "work" }}
	review = !tuicr
{{- end }}
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
	autoSetupRemote = true
[branch]
	autoSetupRemote = always
[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
{{- if hasKey .git "signingkey" }}
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
{{- if or (eq .profile "personal") (eq .profile "work") }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
	allowedSignersFile = ~/.ssh/allowed_signers
{{- end }}

